<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Data_Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Data_Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Data_Builder.Properties.Settings.football_directorConnectionString"
            connectionString="Dsn=Football Director Resources;database=football director;option=0;port=0;uid=laptop"
            providerName="System.Data.Odbc" />
        <add name="Data_Builder.Properties.Settings.football_directorConnectionString1"
            connectionString="Dsn=Football Director Resources;database=football director;option=0;port=0;uid=laptop"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <Data_Builder.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <Data_Builder.Properties.Settings />
    </applicationSettings>
</configuration>